:root {
  --brand-primary: #5F7A3A;
  --brand-primary-hover: #4E622F;
  --brand-accent: #CBA35C;

  --text-main: #1A1A1A;
  --text-muted: #6E6E6E;

  --bg-page: #E9E2D3;  
  --bg-card: #F8F5EC;

  --radius: 8px;
  --transition: 0.25s ease;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: var(--bg-page);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}


button {
  cursor: pointer;
}

/* Scrollbar (Chrome / Edge / Safari) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(60, 60, 40, 0.35); /* muted olive-gray */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #e8e2d5; /* matches the page tone */
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(60, 60, 40, 0.35) #e8e2d5;
}

/* html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
} */
